.cards {
  display: flex;
  justify-content: left;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1rem;
}

.background1,
.background2,
.background3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 150px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.background1 {
  background-image: url("../assets/Katie.png");
}

.background2 {
  background-image: url("../assets/wedding.png");
}

.background3 {
  background-image: url("../assets/bike.png");
}

.btn1,
.btn2,
.btn3 {
  margin-left: 0.5rem;
}
